<div id="sidebar">
<ul class="nav list-group">
    <li>
        <a class="list-group-item" href="#"><i class="icon-home icon-1x"></i>Home</a>
    </li>
    <li>
        <a class="list-group-item" href="#"><i class="icon-home icon-1x"></i>DashBoard</a>
    </li>
    <li>
        <a class="list-group-item" href="#"><i class="icon-home icon-1x"></i>Main</a>
    </li>
     <li>
        <a class="list-group-item" href="#"><i class="icon-home icon-1x"></i>some thing</a>
    </li>
         <li>
        <a class="list-group-item" href="#"><i class="icon-home icon-1x"></i>Nothing</a>
    </li>
    
       <li>
        <a class="list-group-item" href="#"><i class="icon-home icon-1x"></i>Power</a>
    </li>
    
       <li>
        <a class="list-group-item" href="#"><i class="icon-home icon-1x"></i>Star</a>
    </li>
    
     <li>
        <a class="list-group-item" href="#"><i class="icon-home icon-1x"></i>KNOW</a>
    </li>
    
     <li>
        <a class="list-group-item" href="#"><i class="icon-home icon-1x"></i>Mobile</a>
    </li>
     <li>
        <a class="list-group-item" href="#"><i class="icon-home icon-1x"></i>Recharge</a>
    </li>
</ul>
</div>                                    